.bottom-nav {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fffff5;
  z-index: 1000;
  border: 1px solid #010101;
  border-radius: 40px;
}

.tab {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 12px;
}

.tab.active {
  background: #fff;
  color: #111;
}
